* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --timer: 1s;
  --size: 0px;
  --sizeDots: 0px;
  --color: #0d9488;
}
.load {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.load-item {
  position: absolute;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 5px solid #0d9488;
  opacity: 1;
  animation: rotate var(--timer) infinite cubic-bezier(0, 0.2, 0.8, 1);
  animation-delay: calc(var(--value) * calc(var(--timer) / 2));
}
@keyframes rotate {
  0% {
    opacity: 0;
  }
  4.9% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    width: calc(var(--size) + 70px);
    height: calc(var(--size) + 70px);
    opacity: 0;
  }
}
