* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --timer: 1s;
  --size: 70px;
  --sizeDots: 0px;
  --color: #0d9488;
}
.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.load {
  position: relative;
}
.load-item {
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(calc(var(--value) * 30deg));
}
.load-item::before {
  content: "";
  width: var(--sizeDots);
  height: var(--sizeDots);
  border-radius: 50%;
  border: 5px solid var(--color);
  position: absolute;
  top: 0;
  left: 0;
  filter: hue-rotate(calc(var(--value) * 30deg));
  animation: rotate var(--timer) infinite linear;
  animation-delay: calc(var(--value) * calc(var(--timer) / 12));
}
@keyframes rotate {
  to {
    transform: scale(0.5);
  }
}
