*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

:root{
    --timer: 2s;
    --size: 70px;
    --color: gray;
}

/* css loading */
.loader{
    --border-size: calc(var(--size)/4);
    width: var(--size);
    height: var(--size);
    border: var(--border-size) solid var(--color);
    border-radius: 50%;
    border-top: var(--border-size) white solid;
    animation: rotate var(--timer) linear infinite;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}