*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

:root{
    --timer: 2s;
    --size: 70px;
    --color: #0d9488;
}
.load{
    position: relative;
}
.load-item{
    box-sizing: border-box;
    position: absolute;
    width: var(--size);
    height: var(--size);
    border: 10px solid var(--color);
    border-radius: 50%;
    animation: rotate 1.2s infinite cubic-bezier(0.5, 0, 0.5, 1);
    border-color: var(--color) transparent transparent transparent;

}
.load-item:nth-child(1){
    animation-delay: -0.45s;
}
.load-item:nth-child(2){
    animation-delay: -0.3s;
}
.load-item:nth-child(3){
    animation-delay: -0.15s;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}